.navbar {
  height: 4.375rem;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar h2 {
  font-size: 2.5rem;
}

.cartDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  font-size: 2rem;
}

.cartCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background: yellow;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  margin-left: 0.3125rem;
}
